body{
    font-family: 'Rampart One', cursive; 
}

.heading
  {
    width: 100%;
    margin: 0px;
    box-shadow:5px 5px 5px rgb(54, 255, 4);
    font-size: 23px;
  }
  .test_image_and_result
  {
    background: rgb(152, 255, 149) ; 
    border-radius: 20px; 
    color: black;
    box-shadow:5px 5px 5px rgb(255, 139, 139);
    float: none;
    padding: 10px;
    text-align: center;
  }

  .result_para_tag 
  {
    box-shadow:5px 5px 5px rgb(1, 255, 1);
    font-size: 20px;
  }

  .result_para_tag span{
    white-space: pre-line;
  }

  .copy_right_footer{
    position: fixed;
    color: rgb(0, 0, 0);
    bottom: 0;
    width: 100%;
    background-color: rgb(252, 135, 135);
    line-height: 3;
    text-align: center;
  }

  canvas{
    border: 5px solid rgb(0, 0, 0);
    border-radius: 20px;
    box-shadow: 5px 5px 5px rgb(255, 159, 159);
    margin-top: 160px;
  }
 
 